.contactList__form {
  margin-right: 10px;
}
.contactList__label {
  margin-top: 10px;
}

.contactList__item {
  display: flex;
}
.contactList__item:not(:last-child) {
  margin-bottom: 10px;
}
.contactList__button {
  margin-left: 10px;
}
