.contactList__item {
  min-width: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  padding: 10px;

  box-shadow: 0px 0px 10px 2px #c5dcf3;
}
.contactList__item:hover {
  box-shadow: 0px 0px 12px 5px #c5dcf3;
}

.contactList__item:not(:first-child) {
  margin-bottom: 10px;
}

.contactList__form_information {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contactList__form_button {
  display: flex;
}

.contactList__label {
  margin-top: 10px;
}

.contactList__item:not(:last-child) {
  margin-bottom: 10px;
}
.contactList__button:last-child {
  margin-left: 10px;
}
.contactList__undo_block {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.contactList__undo_text {
  text-align: center;
}
