.contactList__form_button {
  display: flex;
}

.contactList__form_information {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.contactList__label {
  margin-top: 10px;
}

.contactList__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactList__item:not(:last-child) {
  margin-bottom: 10px;
}
.contactList__button:last-child {
  margin-left: 10px;
}
