.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  text-align: center;
}

.form__input_marginBottom {
  text-align: center;

  margin-bottom: 10px;
}

.form__text {
  text-align: center;
  margin-top: 11px;
}
