.form {
  display: flex;
  margin-bottom: 50px;

  flex-direction: column;
  align-items: flex-start;
}

.form__item {
  margin-bottom: 10px;
}
.form__text {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80px;
  height: 20px;

  color: white;
  background-color: #3471e2;
  border: 4px solid #3471e2;
  border-radius: 0px 8px 0px 0px;
}
.form__input_name {
  margin-top: 0;
  margin-bottom: 20px;
}
.form__input_number {
  margin-top: 0;
  margin-bottom: 0;
}

.form__button {
  width: 30px;
}
