.authNavigation {
  display: flex;

  justify-content: center;
}

.authNavigation__link {
  font-size: 200%;
  color: rgb(156, 156, 156);
  list-style: none;
  text-decoration: none;
}

.authNavigation__link:hover {
  border-bottom: 1px solid black;
}
