.authNavigation {
  display: flex;

  justify-content: center;
}

.authNavigation__link {
  font-size: 200%;
  color: rgb(156, 156, 156);
  list-style: none;
  text-decoration: none;
}
.authNavigation__logo {
  display: none;
  position: absolute;
  transform: rotate(90deg);
  top: 35px;
}

.authNavigation__link:hover ~ .authNavigation__logo {
  display: block;
}
