.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__textError {
  color: red;
}
