.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__label:nth-child(3) {
  margin-top: 6px;
}
.form__label:nth-last-child(3) {
  margin-top: 18px;
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__textError {
  color: red;
}

.form__text {
  margin-top: 7px;
}
.w {
  position: relative;
  top: 4px;
  left: 78px;
  color: rgb(170, 169, 169);
  font-size: 13px;
}
