.userMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #1976d2;
  background-color: #c5dcf3;
}

.userMenu__button {
  margin-bottom: 10px;
}
.userMenu__link {
  color: #1976d2;
  list-style: none;
  text-decoration: none;
}
