.userMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 7px 6px #c5dcf3;

  background-color: #c5dcf3;
}

.userMenu__button {
  margin-bottom: 10px;
}
.userMenu__link {
  color: #1976d2;
  list-style: none;
  text-decoration: none;
}
